<header class="header-page">
  <div class="container">
    <nav></nav>
    <ul class="site-navigation">
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./index.html">Home</a>
      </li>      
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-9-1.html"
          >task2 Gallery-1</a
        >
      </li>
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-9-2.html"
          >task2 - Gallery-2</a
        >
      </li>      
    </ul>
  </nav>
  </div>
</header>
