<!-- ===================Modal backdrop =========================-->
<div class="modal-backdrop" id="id-modal-backdrop">
  <div class="modal-window">
    <button class="close-button" type="button" id="id-close-button">
      <svg class="close-icon" width="16" height="16">
        <use href="./img/icons.svg#close-form"></use>
      </svg>
    </button>
    <img class="modal-content" id="ModalContent" src="" alt="" />

    <div class="slider-buttons">            
      <button class="slider-button" id="prevBtn">Previous</button>
      <div class="slider-dots" id="sliderDots"></div>
      <span class="slider-counter" id="slidesCounter"></span>  
      <button class="slider-button" id="nextBtn">Next</button>
      <button class="slider-button" id="closeBtn">Close</button>
    </div>
  </div>
</div>
<!-- ===================Modal backdrop =========================-->